 <!-- Sidebar -->
 <nav id="sidebarMenu" class="collapse d-lg-block sidebar navbar-collapse bg-clr" id="navbarTogglerDemo02">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
       <p class="text-white btn btn-md btn-info"><b class="m-4 p-2">Dashboard</b></p>
       <ul class="col mt-4">
        <li class="col brdr">
          <div class="nav-item text-center">
            <a class="nav-link col text-white" data-toggle="collapse" href="#collapseExample">Product <i class="bi bi-caret-down ml-2"></i></a>
            <div class="collapse item" id="collapseExample">
              <a class="dropdown-item text-white" href="#" routerLink="product/create" data-toggle="modal" data-target="#createProduct">Create Product</a>
              <a class="dropdown-item text-white" href="#">Product Settings</a>
              <a class="dropdown-item text-white" href="#">Product Offers</a>
            </div>
          </div>
        </li>
       </ul>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->