<div class="top-bar d-flex justify-content-between m-0">
  <span class="ml-5"><strong>Contact</strong> : <em>amezstore@contact.in</em></span>
  <span class="mr-5">All rights reserved &copy; <a href="/">AMEZ Group</a></span>
</div>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info static-top">
  <div class="container">
    <a class="navbar-brand" href="#" [routerLink]="['']">
     <img class="img-logo" src='{{logo}}' width="40" height="40" alt="logo"> 
      Amez Bookstore</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto !important">
        <form class="form-inline my-lg-0 my-6 mt-2">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto !important">
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['']" routerLinkActive="router-link-active" >Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="router-link-active" >About Us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['/services']" routerLinkActive="router-link-active" >Connect Us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['/services']" routerLinkActive="router-link-active" >FAQ</a>
        </li>
        <li class="nav-item active ml-2">
          <button class="btn btn-sm pl-5 pr-5 btn-outline-dark mt-1" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-bottom: 5px; margin-right:5px" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
              <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
            </svg>
            Sell</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top d-flex justify-content-center m-0">
  <div class="container text-center">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto !important">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['products']" routerLinkActive="router-link-active" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-columns-gap" viewBox="0 0 16 16">
              <path d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"/>
            </svg>
            All Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/services']" routerLinkActive="router-link-active" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-pdf-fill" viewBox="0 0 16 16">
              <path d="M5.523 10.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.035 21.035 0 0 0 .5-1.05 11.96 11.96 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.888 3.888 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 4.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z"/>
              <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm.165 11.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.64 11.64 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.707 19.707 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z"/>
            </svg>
            E-Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/contact']" routerLinkActive="router-link-active" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-percent" viewBox="0 0 16 16">
              <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
            Most Offers</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto !important">
        <li class="nav-item active bg-info badge-pill m-1">
          <a class="nav-link" href="#" [routerLink]="['cart']" routerLinkActive="router-link-active" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4 text-white" viewBox="0 0 16 16">
              <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
            </svg>
            <span *ngIf="itemList" class="badge badge-pill badge-dark m-1">{{itemList}}</span>
          </a>
        </li>
        <li class="nav-item bg-info badge-pill m-1" *ngIf="!userExist">
          <a class="nav-link text-white" href="#" [routerLink]="['account/customer/login']" routerLinkActive="router-link-active" >Login | Register</a>
        </li>
        <li class="nav-item nav-menu dropdown active bg-info badge-pill" *ngIf="userExist">
            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" role="button" aria-haspopup="true" >
              Hi , {{userExist.fullName}}</a>
              <div class="dropdown-menu dropdown-menu-left text-center bg-info" aria-labelledby="servicesDropdown">
                <a class="dropdown-item nav-link text-white" href="#" [routerLink]="['/account/profile']" routerLinkActive="router-link-active" >
                  <i class="bi bi-person-circle"></i>&nbsp;&nbsp;  Profile
                </a>
                <a class="dropdown-item nav-link text-white" href="#" [routerLink]="['/account/customer/orders']" routerLinkActive="router-link-active">
                  <i class="bi bi-list-task"></i>&nbsp;&nbsp; Orders
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item nav-link text-white" href="#" (click)="logout()" >
                  <i class="bi bi-power"></i>&nbsp;&nbsp; Logout
                </a>
              </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr class="m-0">


