 <!-- Sidebar -->
 <nav id="sidebarMenu" class="collapse d-lg-block sidebar navbar-collapse bg-clr" id="navbarTogglerDemo02">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
       <p class="text-white btn btn-md btn-info"><b class="m-4 p-2" routerLink="/">Admin Panel</b></p>
       <ul class="col mt-4">
        <li class="col brdr">
          <div class="nav-item text-center">
            <a class="nav-link col text-white" data-toggle="collapse" href="#collapseExample">Product <i class="bi bi-caret-down ml-2"></i></a>
            <div class="collapse item" id="collapseExample">
              <a class="dropdown-item text-white" href="#">Product Approval</a>
              <a class="dropdown-item text-white" href="#">Available Products</a>
            </div>
          </div>
        </li>
        <li class="col brdr">
          <div class="nav-item text-center">
            <a class="nav-link col text-white" data-toggle="collapse" href="#collapseExample1">Users <i class="bi bi-caret-down ml-2"></i></a>
            <div class="collapse item" id="collapseExample1">
              <a class="dropdown-item text-white" href="#">Available Users</a>
              <a class="dropdown-item text-white" href="#">Orders</a>
              <a class="dropdown-item text-white" href="#">Active/Deactive Users</a>
            </div>
          </div>
        </li>
        <li class="col brdr">
          <div class="nav-item text-center">
            <a class="nav-link col text-white" data-toggle="collapse" href="#collapseExample2">Sellers <i class="bi bi-caret-down ml-2"></i></a>
            <div class="collapse item" id="collapseExample2">
              <a class="dropdown-item text-white" href="#" routerLink="/sellers/available">Available Sellers</a>
              <a class="dropdown-item text-white" href="#">Orders</a>
              <a class="dropdown-item text-white" href="#">Approved Sellers</a>
              <a class="dropdown-item text-white" href="#">Un-Approved Sellers</a>
            </div>
          </div>
        </li>
        <li class="col brdr">
          <div class="nav-item text-center">
            <a class="nav-link col text-white" data-toggle="collapse" href="#collapseExample3">Admin <i class="bi bi-caret-down ml-2"></i></a>
            <div class="collapse item" id="collapseExample3">
              <a class="dropdown-item text-white" href="#" routerLink="/account/signup">Add Admin</a>
              <a class="dropdown-item text-white" href="#">Add New Roles</a>
              <a class="dropdown-item text-white" href="#">Add New Sellers</a>
            </div>
          </div>
        </li>
       </ul>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->