<div class="container">
    <div class="card p-2">
        <div class="row mt-2">
            <!-- Sales Tab -->
            <div class="col-lg-3 col-md-6">
                <div class="card border-warning">
                    <div class="card-body">
                        <div class="row stat-widget-five">
                            <h1 class="col stat-icon dib flat-color-1">
                                <i class="bi bi-boxes"></i>
                            </h1>
                            <div class="col stat-content">
                                <div class="text-left dib">
                                    <h3 class="stat-text"><b class="count">3435</b></h3>
                                    <div class="stat-heading">Sales</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Products Tab -->
            <div class="col-lg-3 col-md-6">
                <div class="card border-primary">
                    <div class="card-body">
                        <div class="row stat-widget-five">
                            <h1 class="col stat-icon dib flat-color-1">
                                <i class="bi bi-handbag"></i>
                            </h1>
                            <div class="col stat-content">
                                <div class="text-left dib">
                                    <h3 class="stat-text"><b class="count">349</b></h3>
                                    <div class="stat-heading">Products</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Users Tab -->
            <div class="col-lg-3 col-md-6">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="row stat-widget-five">
                            <h1 class="col stat-icon dib flat-color-1">
                                <i class="bi bi-people-fill"></i>
                            </h1>
                            <div class="col stat-content">
                                <div class="text-left dib">
                                    <h3 class="stat-text"><b class="count">{{userList.length}}</b></h3>
                                    <div class="stat-heading">Users</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sellers Tab -->
            <div class="col-lg-3 col-md-6">
                <div class="card border-info">
                    <div class="card-body">
                        <div class="row stat-widget-five">
                            <h1 class="col stat-icon dib flat-color-1">
                                <i class="bi bi-shop"></i>
                            </h1>
                            <div class="col stat-content">
                                <div class="text-left dib">
                                    <h3 class="stat-text"><b class="count">{{sellerList.length}}</b></h3>
                                    <div class="stat-heading">Sellers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>